
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(https://pbs.twimg.com/media/GBa736LXoAM9Uof?format=jpg&name=4096x4096);
    background-size: cover;
    flex-direction: column;
}

form {
    background-color: rgb(209, 216, 226); /* OK */
    padding: 25px; /* OK */
    border-radius: 5px; /* OK */
    display: flex; /* OK */
    flex-direction: column; /* OK */
    gap: 10px;
    width: auto;
    height: auto;
    margin: auto;
}

input {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;
}

h1 {
    font-size: 24px;
}

button {
    padding: 10px;
    bottom: unset;
    align-self: center;
    border-radius: 15px;
    border: solid 1px #193285;
    width: 160px;
    background-color: #325d9c;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: auto;
}

.traco {
    background-color: #193285;
    height: 3px;
    margin-bottom: 5px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.remind {
    gap: 10px;
}

.titulo {
    flex-direction: column;
    gap: 5px;
    font-family: fantasy;
    text-align: center;
}

.body {
    background-color: #193285;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.rsenha {
    text-align: center;
    font-size: 16px;
    flex-direction: column;
}

a:link {
    color: blue;
}

a:visited, a:hover, a:active {
    color: rgb(0, 4, 255);
}
